body {
	margin: 0;
	font-family: sans-serif;
}

header {
	width: 100%;
	background: #202020;
}

#btn-menu4 {
	display: none;
}

header label {
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

header label: hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}


.menu4 ul {
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.menu4 li: hover{
	background: rgba(0,0,0,0.3);
}

.menu4 li a {
	display: block;
	padding: 15px 20px;
	color: #38AD48;
	text-decoration: none;
}